body{
    background-color: #ffffff;
}

.outer-box {
    margin-top: 20px;
    background-color: #ffffff;
    box-shadow: 2px 2px 5px #888888;
    padding-bottom: 10px;
}
hr {
    border: none;
    height: 1px;
    color: #A9A9A9; 
    background-color: #A9A9A9; 
}


h1, h2, h3{
    color: #1b4491;
}

.table-head{
    font-weight: bold;

}